%header#header.pt10
  #logo.fl
    .ml10
    .mt5
      Env: #{Rails.env}
    .clear0
    
  %nav#top_menu.fr.pr10{role: 'navigation' }
    - if current_user
      .fl
        Welcome #{current_user.email}
      .fl.ml20
        %ul.menu
          %li.menu_item
            = link_to 'Books', books_path
          %li.menu_item
            = link_to 'Pages', pages_path
          %li.menu_item
            = link_to 'Frames', frames_path

          .clear0


        - if current_user.is_admin?
          %li.menu_item
            = link_to 'Users', users_path
          %li.menu_item
            = link_to 'Visitors', visitors_path


    - else
      %ul.menu
        %li.menu_item
          = link_to 'Log in', log_in_path
        %li.menu_item
          = link_to 'Sign up', sign_up_path
  .clear0


