!!!
%html{"ng-app" => true}
  %head
    %title
      Hierarhical Notes
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application'
    = yield :stylesheets
    = csrf_meta_tags

  %body
    = render 'shared/header'
    %section#body_content
      #ajax_loader
      #container
        = render 'shared/flashes'
        = yield
    = render :partial => 'shared/footer'
    = javascript_include_tag params[:controller]
    = yield :javascripts
